<div  class="div mat-focus-indicator book-card mat-elevation-z2">
    <div  class="div image-card"><a 
            mattooltipclass="example-tooltip" aria-label="Book title" class="mat-tooltip-trigger"
            href="/books/details/2" aria-describedby="cdk-describedby-message-46" cdk-describedby-host=""><img
                 div-image="" alt="Book cover image" class="div-image preview-image"
                src="https://bookcart.azurewebsites.net/Upload/{{product.coverFileName}}"></a>
        <!---->
        <div  class="favourite mat-elevation-z4 ng-star-inserted">
            <div  _nghost-tlw-c132=""><span _ngcontent-tlw-c132=""
                    class="material-icons ng-star-inserted favourite-selected"> ## </span>
                <!---->
                <!---->
            </div>
        </div>
        <!---->
    </div>
    <div  class="div">
        <div  class="card-title"><a  href="/books/details/2"><strong
                    >{{product.title}}</strong></a></div>
        <p >{{product.price | currency}}</p>
        <button _ngcontent-tlw-c131="" mat-raised-button="" (click)="addToCart(product.bookId)"
                color="primary" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary"><span
                    class="mat-button-wrapper"><span _ngcontent-tlw-c131="">
                        <div _ngcontent-tlw-c131="" role="img"
                            class="div notranslate material-icons div-no-color" aria-hidden="true"
                            data-div-type="font">@ </div>
                    </span> Add to Cart
                </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                    class="mat-button-focus-overlay"></span></button>
    </div>
</div>